<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <div id="about">
        <h1>About</h1>
        <ul v-html="technologies"></ul>
        <button v-on:click="more = !more">More</button>
        <!-- removes from dom -->
        <div v-if="more">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, suscipit!</div>
        
        <!-- show and hides in dom -->
        <div v-show="more">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum, suscipit!</div>
        
        <!-- Display the categories as an ordered list with each category's sub-categories as a nested unordered list -->
        <ol v-for="category in categories">
            <li>{{ category.name }}
                <ul v-for="subcategory in category.sub">
                    <li> {{ subcategory }}</li>
                </ul>
            </li>
        </ol>
    </div>

    <script src="../dist/assets/js/vue.js"></script>
    <script type="text/javascript">
        new Vue({
            el: '#about',
            data: {
                more: false,
                technologies: "<li>HTML</li><li>CSS</li><li>JS</li>",
                categories:[
                    {name: 'Javascript', sub: ['Vue.js', 'React', 'Angular2']},
                    {name: 'Databases', sub: ['MySQL', 'PostgreSQL', 'MariaDB']},
                    {name: 'Operating Systems', sub: ['macOS', 'Linux', 'Windows']}
                ]
            },
            methods: {
            }
        })
    </script>
</body>
</html>